.sidebar {
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 10px;
}

.nav,
.nested-nav {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 2px 5px rgb(184, 77, 77);
    font-weight: 400;
    cursor: pointer;
}

.nav:hover,
.nested-nav:hover {
    font-weight: 700;
    background-color: rgb(239, 239, 228);
}

.nav {
    padding: 10px;
}

.nested-nav {
    margin: 10px;
    padding: 5px;
}

.active {
    background-color: rgb(184, 77, 77);
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.nav-details {
    display: flex;
}